.ca-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--asideWhite);
    width: 60rem;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;

    h1 {
        color: var(--blue);
        font-size: 1.25rem;
        font-weight: 600;
    }
}

.each-announcements-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid black;

    h3 {
        color: var(--blue);
        font-size: 1rem;
        font-weight: 500;
    }

    p {
        color: var(--asideWhite);
        font-size: 0.875rem;
        background-color: var(--redLO);
        padding-inline: 11px;
        padding-block: 4px;
        border-radius: 4px;
    }
}

.ca-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
     
    p {
        font-size: 0.875rem;
        background-color: var(--yellow);
        color: var(--asideWhite);
        padding-inline: 11px;
        padding-block: 4px;
        border-radius: 4px;
        cursor: pointer;
    }
}

.ea-container-modal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.2rem;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;

    .ea-wrapper-modal {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
        
        border-bottom: 1px solid #ccc;

        .ea-cm-left {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            // max-width: 400px;
            // border: 1px solid red;
            width: 100%;
            gap: 0.5rem;

            

            h1 {
                font-size: 1.2rem;
                color: var(--blue);
            }

            h3 {
                font-size: 0.9rem;
                color: white;
                background-color: var(--redLO);
                padding: 2px 6px;
                border-radius: 4px;
                font-weight: 400;
            }
             
            p {
                font-size: 1rem;
                padding-top: 0.5rem;
                max-width: 400px;
                margin-left: 10px;

            }
            
            
        }
    } 
}

.ca-confirmation {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    gap: 1rem;

    .ca-cancel {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      color: var(--blue);
      background-color: var(--gray);
      border-radius: 8px;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
    }

    .ca-save {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      color: #fff;
      background-color: var(--blue);
      border-radius: 8px;
      font-size: 1rem;
      font-family: 'Inter', sans-serif;
    }
    


  }

.ma-inputs {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.modal-announcement-input {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-inline: 0.5rem;
    width: 100%;
    

     h1{
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
     }

     input {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        border-radius: 4px;
        padding: 0.8rem;
        border: none;
        width: 100%;
        outline: none;
        margin-left: 0.5rem;
    }

    textarea {
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
        border-radius: 4px;
        padding: 0.8rem;
        border: none;
        width: 100%;
        outline: none;
        margin-left: 0.5rem;
        height: 200px;
        resize: none;
    }

    

    
}
