.student-overview-container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    background: #F3F6FF;
    border-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.radar-chart {
    width: 300px;
}