.progress-card-wrapper {
    display: flex;
    max-width: 1200px;
    background: var(--asideWhite);
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
}

.progress-left-details {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.progress-card-percentages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}