.progress-card-wrapper {
    position: relative;
    display: flex;
    max-width: 800px;
    width: 100%;
    background: var(--asideWhite);
    padding-block: 20px;
    border-radius: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 1px solid #e4e4e4;
    padding-left: 40px;
    padding-right: 40px;
}

.progress-left-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.progress-card-percentages {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line-chart {
    position: relative;
    max-width: 200px;
    min-height: 220px;
    width: 100%;
}
.progress-data-score {
    background: #37996B;
    color: white;
    padding: 3px 7px;
    border-radius: 3px;
    font-size: 0.775rem;
}