.page {
    position: relative; 
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 60px; 
    overflow: hidden;
}

.sidebar.active ~ .page {
    left: 250px;
    width: calc(100% - 250px);
}



@media screen and (max-width: 800px) {
    .page {
        padding: 30px;
        left: 0;
        width: 100%;
        max-width: 100%;
        margin-top: 60px;
    }

    .sidebar.active ~ .page {
        left: 0;
        width: 100%;
    }
    
}

@media screen and (max-width: 450px) {
    .page {
        padding: 0;
    }
}