.student-quiz-header-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 50px;

    & > p {
        font-size: 1.375rem;
        color: var(--blue);
        font-weight: 600;
    }
}

.quiz-header-details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}