.user-img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background-color: #F7F7F7;
    padding: 0.4rem 0.5rem 0.4rem 0.8rem;
    transition: all 0.5s ease;
    border-top-right-radius: 20px;
    z-index: 99;
    border-right: 3px solid #E4E4E4;
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn, .secondary-sidebar #secondary-btn {
    position: absolute;
    color: var(--blue);
    top: 1rem;
    left: 50%;
    font-size: 2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn, .secondary-sidebar #secondary-btn {
    left: 85%;
}

.sidebar .top .logo {
    color: var(--blue);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    
}

.sidebar.active .top .logo {
    opacity: 1;
}

.sidebar .top .logo span {
    font-size: 1.6rem;
    font-weight: 600;
}

.top .logo #main-logo {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 20px;
    padding-top: 10px;
    padding-right: 20px;
    width: 100%;
    border-top: 2px solid #E4E4E4;
}

.user p {
    color: var(--blue);
    opacity: 1;
    margin-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.user-info {
    max-width: 200px;
}

.user-info .student-number {
    font-size: 0.9rem;
    color: #E89D1E;
}

#sidebar-ellipsis {
    color: var(--blue);
    cursor: pointer;
    display: none;
}

.sidebar.active #sidebar-ellipsis {
    display: block;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul {
    margin-top: 50px;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
    font-size: 15px;
}

.sidebar ul li .navlink {
    color: var(--blue);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li .navlink:hover, .sidebar ul li .navlink.active {
    background-color: var(--red);
    color: var(--asideWhite);
}

.sidebar ul li .navlink .link-icon {
    min-width: 50px;
    height: 25px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0,0,0,0.2);
    border-radius: .6rem;
    padding: .4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li:hover .tooltip{
    display: none;
}

/* For secondary sidebar */
.secondary-sidebar {
    display: none;
}

.mini-settings-container {
    position: relative;
}

.sidebar.active .mini-settings {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -120px;
    transform: translate(-50%, -50%);
    background: var(--asideWhite);

    div {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

    div:hover {
        background: #fff;
    }
}

.sidebar.active .hidden {
    display: none;
}

/* End of secondary sidebar */

 @media screen and (max-width: 800px) {
    .secondary-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 60px;
        display: flex;
        width: 100%;
        border-radius: 0;
        justify-content: space-between;
        background-color: #293747;
        z-index: 99;
    }

    .secondary-sidebar.active .cover {
        display: block;
        position: fixed;
        left: 0;
        bottom: 0;
        height: calc(100vh - 60px);
        width: 100vw;
        background: black;
        opacity: 0.4;
        z-index: 98;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        display: block;
    }

    .secondary-sidebar #secondary-btn {
        left: 1.8rem;
    }
}