.courses-quizzes {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    flex-direction: column;
    width: 100%;
    
}

.efc-main-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.topic-titles {
    color: var(--blue);
    font-size: 1.375rem;
    font-weight: 600;
    padding: 1rem;
}

.quiz-course-container {
    width: 100%;
    max-width: 700px;
    cursor: pointer;
}

/* QuizzesFacultyOverview.scss */
.student-results-container {
    margin-left: 2rem;
    min-width: 30rem;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--asideWhite);
    // border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    
    p {
      margin: 5px 0;
    }
  }

  // .qfc-score {
  //   // background-color: var(--green);
  //   color: #fff;
  //   padding: 4px 10px;
  //   font-weight: 500;
  //   border-radius: 8px;
  //   font-size: 12px;
  // }

  @media screen and (max-width: 620px) {
    .student-results-container {
      width: 100%;
      min-width: 0px;
      margin-left: 0;
    }
  }


.csv-button {
  border-radius: 10px;
  background: var(--green);
  border: none;
  padding: 10px 20px;
  color: white;
}
.quiz-table {
  border-collapse: collapse; /* Ensures borders between cells */

  th,
  td {
    border: 1px solid #ccc; /* Add cell borders */
    padding: 10px; /* Add space between content and borders */
  }

  th {
    background-color: #f2f2f2; /* Optional header background color */
  }
}