@import url('https://fonts.cdnfonts.com/css/inter');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --asideWhite: #F3F6FF;
  --red: #CB292D;
  --redLO: #d55457;
  --yellow: #E89D1E;
  --blue: #293747;
  --blueLO: #565668;
  --gray: #EDEDF0;
  --green: #0CB75B;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

.red {
  color: var(--red);
}

.redLO {
  color: var(--redLO);
}

.asideWhite {
  color: var(--asideWhite);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.blueLO {
  color: var(--blueLO);
}

.gray {
  color: var(--gray);
}

.green {
  color: var(--green);
}


.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.medium-text {
  font-size: 1.4rem;
}

.hidden {
  display: none;
}

.on-hover {
  cursor: pointer;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.capitalize {
  text-transform: capitalize;
}

.eb-titles {
    font-size: 1.563rem;
    font-weight: 600;
    color: var(--blue);
}


.eb-semi-titles {
    font-size: 1.35rem;
    font-weight: 600;
    color: var(--blue);
}

.eb-standard {
    font-size: 1rem;
    font-weight: 500;
}

